language: node_js

node_js:
  - "node"

before_script:
  - yarn build

deploy:
  provider: pages
  skip_cleanup: true
  github_token: $GITHUB_TOKEN
  local_dir: "dist"
  target_branch: "master"
  on:
    branch: dev

notifications:
  email: false

cache: yarn
