.application .theme--light.input-group.input-group--solo-inverted.input-group--focused, .theme--light .input-group.input-group--solo-inverted.input-group--focused
  background-color #f0f0f0

.application .theme--light.input-group.input-group--solo-inverted.input-group--focused .input-group__append-icon, .application .theme--light.input-group.input-group--solo-inverted.input-group--focused .input-group__prepend-icon, .application .theme--light.input-group.input-group--solo-inverted.input-group--focused input, .application .theme--light.input-group.input-group--solo-inverted.input-group--focused label, .theme--light .input-group.input-group--solo-inverted.input-group--focused .input-group__append-icon, .theme--light .input-group.input-group--solo-inverted.input-group--focused .input-group__prepend-icon, .theme--light .input-group.input-group--solo-inverted.input-group--focused input, .theme--light .input-group.input-group--solo-inverted.input-group--focused label
  color #000